# Cartelle di build ROS 2
aerial_robotics-master/ros2_ws/build/
aerial_robotics-master/ros2_ws/install/
aerial_robotics-master/ros2_ws/log/

# Cartelle di build PX4 (nel caso ricompili)
aerial_robotics-master/PX4-Autopilot/build/
aerial_robotics-master/PX4-Autopilot/Tools/simulation/gz/root/

# File binari e oggetti
*.o
*.so
*.a
*.bin
*.tar.xz

# Rosbag 
*.mcap
*.bag

# File temporanei e IDE
.vscode/
.idea/
*.swp
*~
